{% extends "auctions/layout.html" %}

{% block body %}
<main>
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h2 class="text-center text-secondary fw-lighter my-4">Closed Listings</h2>
                <hr>
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 mt-3">
                    {% for listing in closed_listings %}
                    <div class="col mb-3">
                        <div class="card h-100">
                            {% if listing.imageUrl %}
                            <img src="{{ listing.imageUrl }}" class="card-img-top" alt="{{ listing.title }}">
                            {% else %}
                            <a href="{% url 'listing' listing.id %}">Image Coming Soon</a>
                            {% endif %}
                            <span class="text-secondary text-center">
                                <small>{{ listing.category}}</small>
                            </span>
                            <div class="card-body">
                                <a href="{% url 'listing' listing.id %}" class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <h4 class="card-title text-dark">{{ listing.title }}</h4>
                                </a>
                                <span class="text-dark">by {{ listing.owner }}</span>
                                <br>
                                <small class="text-body-secondary">Posted on {{ listing.date_created }}</small>
                                <h5 class="card-title fw-semibold mt-2">
                                    {% if not listing.is_active %}
                                    Sold for
                                    {% endif %}
                                    ${{ listing.price.bid_price }} USD
                                    &nbsp;<span class="text-secondary"><small>{{ listing.bid_count }} Bid(s)</small></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}