{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <h1 class="display-2 my-3">Auctions</h1>
            <h2 class="text-secondary fw-lighter pb-3">Active Listings</h2>
        </div>
        <div class="col-sm-4 col-md-3 mt-5">
            <form action="{% url 'index' %}" method="POST" class="mb-3">
                {% csrf_token %}
                <div class="input-group mt-2">
                    <select name="category" class="form-select" id="category">
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-sm btn-secondary"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 ">
        {% for listing in auction_listings %}
        {% if listing.is_active %}
        <div class="col mb-3">
            <div class="card rounded-0 border-0">
                {% if listing.imageUrl %}
                <img src="{{ listing.imageUrl }}" class="card-img-top" alt="{{ listing.title }}">
                {% else %}
                <a href="{% url 'listing' listing.id %}">Image Coming Soon</a>
                {% endif %}
                <span class="text-secondary text-center">
                    <small>{{ listing.category}}</small>
                </span>
                <div class="card-body">
                    <a href="{% url 'listing' listing.id %}" class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        <h4 class="card-title text-dark">{{ listing.title }}</h4>
                    </a>
                    <span class="text-dark">by {{ listing.owner }}</span>
                    <br>
                    <small class="text-body-secondary">Posted on {{ listing.date_created }}</small>
                    <h5 class="card-title fw-semibold mt-2">
                        {% if not listing.is_active %}
                        Sold for
                        {% endif %}
                        ${{ listing.price.bid_price }} USD
                        &nbsp;<span class="text-secondary"><small>{{ listing.bid_count }} Bid(s)</small></span>
                    </h5>
                </div>
                <div class="align-self-start mb-2 ps-2">
                    <a href="{% url 'listing' listing.id %}" class="btn btn-warning">Place Bid</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    {% if not auction_listings %}
    <div class="text-center mt-5 ">
        <h3>There is no item in this category!!</h3>
        <a href="{% url 'index' %}">Back to Home</a>
        {% endif %}
    </div>
</div>
{% endblock %}