{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="text-center text-secondary fw-lighter my-4">WatchList</h2>
            <hr>
            {% for listing in auction_listings %}
            <div class="d-md-flex position-relative m-3">
                {% if listing.imageUrl %}
                <a href="{% url 'listing' listing.id %}"><img src="{{ listing.imageUrl }}" class="flex-shrink-0 me-3" width="300" alt="{{ listing.title }}"></a>
                {% else %}
                <h2>Image coming soon!</h2>
                {% endif %}
                <div class="align-self-center">
                    <a href="{% url 'listing' listing.id %}">
                        <h3 class="m-3">{{ listing.title }}</h3>
                    </a>
                    <span class="mx-3 text-secondary">by {{ listing.owner }}</span>
                    <p class="mx-3"><small class="text-body-secondary">Posted on {{ listing.date_created}}</small></p>
                    <p class="m-3"><small>{{ listing.description }}</small></p>
                    {% if listing.is_active %}
                    <h5 class="mx-3">$ {{ listing.price.bid_price }} USD&nbsp;<span class="text-secondary"><small>{{ listing.bid_count }} Bid(s)</small></span></h5>
                    <a href="{% url 'listing' listing.id %}" class="btn btn-warning mx-3">Place Bid</a>
                    {% else %}
                    <h5 class="alert alert-warning mx-3">Sold for $ {{ listing.price.bid_price }} USD&nbsp;<span class="text-secondary"><small>{{ listing.bid_count }}&nbsp;Bid&nbsp;(s)</small></span></h5>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}