ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
}
li{
    float: right;
}

li a {
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.index{
    margin-top: 300px;
}

.advanced_heading{
    margin: 20px 30px;
    font-size: 20px;
    color: darkred;
}

#advanced_logo{
    margin-left: 15px;
}

.image_text{
    position: relative;
    top: 35px;
    right: 60px;
    font-size: 18px;
    color: blue;
}