{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

<div class="row mt-3">
    <div class="col-sm-3 col-md-3 pt-3 mb-5 ps-0">
        <!-- <h2>{{ request.user.email }}</h2> -->

        <ul class="nav flex-column ps-4">
            <span class="mb-3"><small><i class="fa-regular fa-user"></i> {{ request.user.email }}</small></span>

            <div class="row">
                <div class="col-8"><button class="btn btn-primary rounded-5" id="compose"><i class="fa-solid fa-plus"></i> Compose</button></div>
            </div>

            <li class="nav-link" id="inbox"><i class="fa-solid fa-inbox"></i> Inbox</li>
            <li class="nav-link" id="sent"><i class="fa-solid fa-paper-plane"></i> Sent</li>
            <li class="nav-link" id="archived"><i class="fa-solid fa-box-archive"></i> Archived</li>
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </ul>
    </div>



    <div class="col-sm-8 col-md-8 me-1">

        <div id="emails-view">
        </div>

        <div id="single-email-view">
        </div>

        <div id="compose-view">
            <h3>New Email</h3>
            <form id="compose-form">
                <div class="mb-3 row">
                    <div class="col-1 col-form-label">From</div>
                    <div class="col-11">
                        <input disabled class="form-control" value="{{ request.user.email }}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-1 col-form-label">To</div>
                    <div class="col-11">
                        <input id="compose-recipients" class="form-control">
                    </div>
                </div>
                <div class="mb-3">
                    <input class="form-control" id="compose-subject" placeholder="Subject">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="compose-body" placeholder="Body" rows="20"></textarea>
                </div>
                <div class="d-grid justify-content-end">
                    <input type="submit" value="Send" class="btn btn-outline-success" />
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
<script src="https://kit.fontawesome.com/86cec43cf8.js" crossorigin="anonymous"></script>
{% endblock %}