{% extends "network/layout.html" %}
{% block body %}
<script>
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length == 2) return parts.pop().split(';').shift();
    }

    function comment_handler(id) {
        let coll = document.getElementById(`comment_post_${id}`);
        const content = document.getElementById(`comment_content_${id}`);
        coll.classList.toggle('active');
        content.style.display = content.style.display === 'block' ? 'none' : 'block';
    }

    function submit_handler(id) {
        const post_content = document.querySelector(`#edit_post_${id}`).value;
        const content = document.querySelector(`#content_${id}`);
        const modal = document.querySelector(`#modal_edit_post_${id}`);
        fetch(`/edit/${id}`, {
            method: "POST",
            headers: { "Content-type": "application/json", "X-CSRFToken": getCookie("csrftoken") },
            body: JSON.stringify({
                post: post_content
            })
        })
            .then(response => response.json())
            .then(result => {
                content.innerHTML = result.data;
            });
    }

    function likes_handler(id, user_liked) {
        const btn = document.getElementById(`like_${id}`);
        let liked = user_liked.indexOf(id) >= 0;
        const count = document.getElementById(`like_count_${id}`);
        console.log(id, user_liked);
        if (btn.classList[3] == 'bi-heart') {
            fetch(`/add_like/${id}`)
                .then(response => response.json())
                .then(result => {
                    btn.classList.replace('bi-heart', 'bi-heart-fill');
                    count.innerText = result.like_count;
                    console.log(result.like_count);
                });
        } else {
            fetch(`/remove_like/${id}`)
                .then(response => response.json())
                .then(result => {
                    btn.classList.replace('bi-heart-fill', 'bi-heart');
                    count.innerText = result.like_remove_count;
                    console.log(result.like_remove_count);
                });
        }
    }
</script>

<!-- check if the user is logged in -->
{% if user.is_authenticated %}
<div class="bg-white p-2 mt-3">
    <h3 class="p-3"><i class="bi bi-chat-dots"></i>&nbsp;New Post</h3>
    <form id="post_form" class="mx-3" action="{% url 'new_post' %}" method="POST">
        {% csrf_token %}
        <textarea class="form-control rounded-5" name="post" id="post" rows="1"></textarea>
        <div class="d-grid justify-content-end">
            <input class="my-2 btn btn-sm btn-success rounded-5" type="submit" value="Post">
        </div>
    </form>
</div>
{% endif %}
<h2 class="my-3 display-4 text-center">All Posts</h2>
<hr class="border border-warning">


<!-- all posts starts -->
{% for post in current_page %}
<div class="mb-2 bg-body-secondary">
    <div class="d-flex justify-content-between p-3">

        <div class="d-flex justify-content-between gap-2">
            <h5><a href="{% url 'profile' post.user.id %}" class="text-decoration-none text-warning-emphasis"><i class="bi bi-person-circle"></i>&nbsp;{{ post.user }}</a>
            </h5>

            <!-- edit section -->
            {% if post.user == user %}
            <p id="edit" class="edit text-primary-emphasis" data-bs-toggle="modal" data-bs-target="#modal_edit_post_{{ post.id }}">
                <i class="bi bi-pencil-square"></i>
                <small>Edit</small>
            </p>

            <!-- Modal -->
            <div class="modal fade" id="modal_edit_post_{{ post.id }}" tabindex="-1" aria-labelledby="modal_edit_post_{{ post.id }}_label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modal_edit_post_{{ post.id }}_label">Edit Post</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <textarea name="content" id="edit_post_{{ post.id }}" rows="5" cols="61">{{ post.post }}</textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-success" onclick="submit_handler({{ post.id }})" data-bs-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- modal ends -->
        </div>
        <small class="text-secondary">{{ post.date_posted|date:"m/d h:i A " }}</small>
    </div>
    <!-- post content -->
    <p class="mb-1 ps-3" id="content_{{ post.id }}">{{ post.post }}</p>
    <hr class="text-dark">
    <!-- like and comment section starts -->
    <div class="d-flex ps-3 gap-3">
        <!-- like section starts -->
        {% if post.id in user_liked %}
        <div>
            <i class="heart text-danger bi bi-heart-fill" onclick="likes_handler({{ post.id }}, {{ user_liked }})" id="like_{{ post.id }}"></i>
            <span id="like_count_{{ post.id }}">{{ post.post_like.count }}</span>
        </div>
        {% endif %}
        {% if not post.id in user_liked %}
        <div>
            <i class="heart text-danger bi bi-heart" onclick="likes_handler({{ post.id }}, {{ user_liked }})" id="like_{{ post.id }}"></i>
            <span id="like_count_{{ post.id }}">{{ post.post_like.count }}</span>
        </div>
        {% endif %}
        <!-- like section ends -->

        <!-- comment section starts -->
        <div class="comment" id="comment_post_{{ post.id }}" onclick="comment_handler({{post.id}})">
            <p><i class="bi bi-chat-dots"></i> Comment</p>
        </div>
    </div>

    <!-- comment_view section starts -->
    <div class="comment_content" id="comment_content_{{ post.id }}">
        <form id="comment_form" class="mx-3" action="{% url 'comment' post.id %}" method="POST">
            {% csrf_token %}
            <textarea class="form-control rounded-5" name="comment" id="comment" rows="1"></textarea>
            <input class="my-2 btn btn-sm btn-primary rounded-5" type="submit" value="Post">
        </form>
        <div class="d-flex flex-column">
            {% for comments in all_comments %}
            {% if comments.post.id == post.id %}
            <div class="bg-body-tertiary m-2">
                <div class="d-flex justify-content-between px-3 pt-2">
                    <h5><i class="bi bi-person-circle"></i>
                        {{ comments.user }}</h5>
                    <small class="text-secondary">{{ comments.date_created|date:"m/d H:i" }}</small>
                </div>
                <p class="ps-3">{{ comments }}</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- comment section ends -->
    <!-- like and comment section ends -->
</div>
{% endfor %}

<!-- paginator stars -->
<nav class="mt-3" aria-label="Page navigation example">
    <ul class="pagination d-flex justify-content-center">
        {% if current_page.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ current_page.previous_page_number }}"><i class="bi bi-chevron-double-left"></i>
            </a></li>
        {% endif %}
        {% if current_page.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ current_page.next_page_number }}"><i class="bi bi-chevron-double-right"></i>
            </a></li>
        {% endif %}
    </ul>
</nav>
<!-- paginator ends -->
<!-- </div> -->

{% endblock %}