{% extends "network/layout.html" %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col profile p-5">

            <h4 class="display-4"><i class="bi bi-person-fill"></i>
                @{{ username }}</h4>
            <ul class="mt-4 list-unstyled">
                <li class="d-inline">Following {{ following.count }}</li>
                <li class="ps-2 d-inline">Follower {{ follower.count }}</li>
            </ul>
            {% if user.is_authenticated %}
            {% if profile_user != request.user %}
            {% if isFollowing %}
            <form action="{% url 'unfollow' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="user_unfollowing" value="{{ profile_user }}">
                <input type="submit" class="btn btn-dark" value="Unfollow">
            </form>
            {% else %}
            <form action="{% url 'follow' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="user_following" value="{{ profile_user }}">
                <input type="submit" class="btn btn-outline-dark" value="Follow">
            </form>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>    
    <div class="row my-3">
        <div class="col">
            <!-- user's posts -->
            <div class="list-group mt-5">
                {% for post in all_user_posts %}
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <a href="" class="text-decoration-none text-warning-emphasis">
                            <h5 class="mb-1">@{{ post.user }}</h5>
                        </a>
                    </div>
                    <p class="mb-1">{{ post.post }}</p>
                    <small>{{ post.date_posted }}</small>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}