{% extends "encyclopedia/layout.html" %}

{% block title %}
Create New Page
{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-8 mx-auto">
            <h1 class="display-4">Create New Page</h1>
            <hr>
            {% if error_message%}
            {{ error_message }}
            {% endif %}
            <form action="{% url 'encyclopedia:create' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Save</button>
                <a href="{% url 'encyclopedia:index' %}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Cancel</a>
            </form>

        </div>
    </div>
</div>

{% endblock %}