{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
<div class="text-center">
    <h1 class="text-danger">{{ message }}</h1>
    <p>{{ message2 }}<br><a href="{% url 'encyclopedia:index' %}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Back to Home Page</a></p>
    <img src="https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=720&dpr=1" alt="dog">
</div>
{% endblock %}