/* textarea {
    min-height: 400px;
} */

/* .read{
    background-color: #d7d7d7;
}

.unread{
    background-color: #fff;
} */

/* ul li{
    display: inline;
} */

body{
    max-height: 100%;
}

li:hover{
    cursor: pointer;
    text-decoration: underline;
}
